# Visit https://github.com/RishiS-HSCProjects/NGTourneyTracker#setup-instructions for more setup instructions.

# Create a random secret key for encrypting session data
SECRET_KEY = abc123-def456-ghi789-jkl012

# You may use any database URI here.
# If you want to use a local SQLite database for testing, simply remove the `SQLALCHEMY_DATABASE_URI` line and follow the instructions in the README. 
SQLALCHEMY_DATABASE_URI = 'postgresql://username:password@url:port/mydatabaseuri'

NETHERGAMES_API_KEY = nethergames.api.integration.key # Required for fetching tournament data and player validation

# Set up Discord environment variables for announcements. Required. You can create a test Discord server and webhook for testing purposes.
SECURE_DISCORD_WEBHOOK_URL = https://discord.com/api/webhooks/<WEBHOOK_ID_1>/<WEBHOOK_TOKEN_1>
ANNOUNCEMENT_DISCORD_WEBHOOK_URL = https://discord.com/api/webhooks/<WEBHOOK_ID_2>/<WEBHOOK_TOKEN_2>

# Security settings
VERIFY_STAFF_STATUS = False # Set to `True` to enable staff status verification against the NetherGames API, optional. False recommended for testing.
